* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: scroll;
}

#optionsWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrap {
  margin: 10px;
}

p,
label {
  font-family: sans-serif;
}

.hint {
  font-style: italic;
}

.flexCenter {
  display: flex;
  align-items: center;
}

.divider {
  width: 100%;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: grey;
}
